body {
  padding: 0;
  margin: 0;
  position: relative;
}

#board {
  display: grid;
  grid-template-columns: repeat(100, 48px);
  grid-template-rows: repeat(30, 48px);
}

.tile:hover {
  border: 0.5px solid rgb(0, 0, 0);
}

.sky {
  background-color: #87ceeb;
}
.grass {
  background-image: url("./imgs/grass.webp");
}

.graound {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/dirt.webp");
}
.gray {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/stone.webp");
}
.rocks {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/bedrock.webp");
}

.menu {
  top: 0;
  position: fixed;
  margin-left: 1rem;
  width: fit-content;
  flex-direction: column;
}

#button-1 {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 0 1px rgba(244, 250, 252, 0.278);
}
#button-2 {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  margin-left: 0;
  box-shadow: 0 4px 0 1px rgba(244, 250, 252, 0.278);
}

.button {
  background-color: #888888e7;
  color: white;
  margin: 1rem;
}
