body {
  padding: 0;
  margin: 0;
  position: relative;
}

#board {
  display: grid;
  grid-template-columns: repeat(100, 48px);
  grid-template-rows: repeat(30, 48px);
}

.tile:hover {
  border: 0.5px solid rgb(0, 0, 0);
}

.sky {
  background-color: #87ceeb;
}
.grass {
  background-image: url("./imgs/grass.webp");
  background-size: contain;
}

.graound {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/dirt.webp");
  background-size: contain;
}
.gray {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/stone.webp");
  background-size: contain;
}
.rocks {
  background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/bedrock.webp");
  background-size: contain;
}

.menu {
  top: 0;
  position: fixed;
  margin-left: 1rem;
  width: fit-content;
  flex-direction: column;
}

#button-1 {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 0 1px rgba(244, 250, 252, 0.278);
}
#button-2 {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  margin-left: 0;
  box-shadow: 0 4px 0 1px rgba(244, 250, 252, 0.278);
}

.button {
  background-color: #888888e7;
  color: white;
  margin: 1rem;
}

#control {
  top: 10%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
}

.control-button {
  border: 0;
  padding: 20px;
}

#ax {
  background: url(https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-axe.webp)
    center center / cover;
}

#pickaxe {
  background: url(https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-pickaxe.webp)
    center center / cover;
}
#shovel {
  background: url(https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-shovel.webp)
    center center / cover;
}
#Scissors {
  background: url(https://guileless-pegasus-d698c6.netlify.app/blocks/shears.webp)
    center center / cover;
}

.window {
  left: 500px;
  top: 3px;
  position: sticky;
  gap: 1rem;

}

.imgbutton {
  width: 60px;
}